<div class="col">

    <div class="left-list">
        BRAND ——
        <ul>
            <li class="all-underline">ALL</li>
            <li>Daniella Tam</li>
            <li>GEMMA LINN</li>
        </ul>
    </div>

    <div class="left-list">
        CATEGORY ——
        <ul>
            <li >
                <a class="left-list all-underline" href="@Url.Action("FindBrand","OnlineStore")">ALL</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "PUMPS"})">PUMPS</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "FLATSHOES" })">FLAT SHOES</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "MANNISH" })">MANNISH</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "SNEAKER" })">SNEAKER</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "SANDAL" })">SANDAL</a>
            </li>
            <li>
                <a class="left-list" href="@Url.Action("FindBrand","OnlineStore",new { category = "BOOTS" })">BOOTS</a>
            </li>
        </ul>
    </div>

    <div class="left-list">
        COLOR ——
        <ul>
            <li class="all-underline">ALL</li>
            <li>BLACK/GRAY</li>
            <li>BEIGE/BROWN</li>
            <li>WHITE/IVORY</li>
            <li>PINK/ORANGE</li>
            <li>BLUE/GREEN</li>
            <li>RED/PURPLE</li>
            <li>GOLD/SILVER</li>
            <li>ANIMAL/PATTERN / MALTI</li>
        </ul>
    </div>

    <div class="left-list">
        PRICE ——

    </div>

</div>
