@model Gemma.ViewModel.OnlineStore
@using System.Globalization;

@*<div class="col-lg-4 col-md-6 collection-item fadeInUp">
        <a class="example-image-link" href="~/Assets/images/collection/@Model.FileName"
           data-lightbox="example-@Model.FileName"
           data-title="<br>@Html.DisplayFor(x => x.Name)
           <br><br>
            @Html.DisplayFor(x => x.Price)">
            <img class="example-image img-fluid" src="~/Assets/images/collection/@Model.FileName" />
        </a>
    </div>*@


<div class="col-4">
    
    <img src="~/Assets/images/Product/@Model.Category/@Model.ProductName/index1.jpg" alt="" value="@(Model.Category)/@(Model.ProductName)">


    <div class="position-left heart">
        <img src="~/Assets/images/Icons/@Model.Heart" alt="">

    </div>
    @for (int i = 0; i < Model.Color.Count; i++)
    {
        <div>
            <img src="~/Assets/images/Product/colors/@Model.Color[i]" style="position: absolute;right: @(25+30*i)px;bottom: 30%;width:5%;height:5%;" value="@(Model.Category)/@(Model.ProductName)/@(Model.Color[i])" class="hoverchange"/>
        </div>
    }
    @*<div class="position-right-1">

        </div>
        <div class="position-right-2">

        </div>
        <div class="position-right-3">
            <img src="https://danigemma.com/images/color_chip/GE19107-08.png"
                 class="small-color">
        </div>*@

    <div class="right-side">
        <a href="">
            <img src="~/Assets/images/@Model.Next" alt="">
        </a>
    </div>
    <div class="left-side">
        <a href="">
            <img src="~/Assets/images/@Model.Prev" alt="">
        </a>
    </div>
    <br />
    <div>
        <div class=" photo-word bottom-side">@Model.Brand<br>@Model.ProductName<br>@Model.Price 円 @Model.Tax</div>
    </div>
</div>

@*<div class="col-4 photo-word">@Html.DisplayFor(x => x.Brand)GEMMA LINN<br>ベロアバレエシューズ<br>10,000 円 + TAX</div>*@



<br />
<br />
