@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    @{
        if (Session["CartItemCount"] == null)
        {
            Session["CartItemCount"] = 0;
        }
        if (Session["Count"] == null)
        {
            Session["Count"] = 0;
        }
    }
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
    @Styles.Render("~/Contentback/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Assets/css/FixedMenu.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <style>
        .social-icons {
            margin-right: 0;
        }
    </style>

    @RenderSection("topCSS", required: false)
    @RenderSection("topJS", required: false)
</head>
<body onscroll="sticky()">
    <div>
        <div class="container-fluid header navblock">
            <br />
            <div class="row">
                <div class="logo row">
                    <a class="picture" href="@Url.Action("DaniellaGemma","Home")"><img src="~/Assets/images/Icons/logo.png" /></a>

                </div>
                <div class="header-nav row">

                    <ul class="nav ul-1">
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("FindBrand","OnlineStore")">ONLINE STORE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("CollectionPhotos","Collection")">COLLECTION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Journall")">JOURNAL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Shop","SHOP")">SHOP</a>
                        </li>
                    </ul>
                    <ul class="nav ul-2">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link" href="@Url.Action("MemberInfo", "MemberCenter", new { id = User.Identity.GetUserId() })">@User.Identity.Name</a>
                            </li>
                        }
                    </ul>

                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()


                            <ul class="nav header-tool ul-2">

                                <li class="account nav-item dropdown">

                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="~/Assets/images/Icons/User_Mark.png" />
                                    </a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        @Html.ActionLink("マイページ", "MemberInfo", "MemberCenter", new { id = User.Identity.GetUserId() }, new { @class = "dropdown-item" })
                                        @Html.ActionLink("ポイント履歴", "OrderSearch", "MemberCenter", new { id = User.Identity.GetUserId() }, new { @class = "dropdown-item" })
                                        @if (User.Identity.Name == "Admin@gmail.com")
                                        {
                                            @Html.ActionLink("バックグラウンド管理", "Admin", "Account", null, new { @class = "dropdown-item" })
                                        }
                                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">ログアウト</a>
                                    </div>

                                </li>


                                <li class="bookmark nav-item">
                                    <a href="@Url.Action("Index", "BookMark")" class="nav-link">
                                        <img style="height:120%;width:120%" src="~/Assets/images/Icons/header-icon-bookmark.svg" />
                                    </a>
                                </li>
                                <span id="MyWish" style="font-size:20px;margin-top:15px">(@Session["Count"].ToString())</span>
                                <li class="cart nav-item">
                                    <a href="@Url.Action("CartView", "Cart")" class="nav-link"><img src="~/Assets/images/Icons/Cart_Mark.png" /></a>
                                </li>
                                <span id="MyCart" style="font-size:20px;margin-top:15px">(@Session["CartItemCount"].ToString())</span>
                            </ul>

                        }
                    }
                    else
                    {
                        <ul class="nav header-tool ul-2">

                            <li class="account nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="~/Assets/images/Icons/User_Mark.png" />
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="~/Account/Register">新規会員登録</a>
                                    <a class="dropdown-item" href="~/Account/Login">LOGIN</a>
                                </div>

                            </li>


                            <li class="bookmark nav-item">
                                <a href="@Url.Action("Index", "BookMark")" class="nav-link">
                                    <img style="height:120%;width:120%" src="~/Assets/images/Icons/header-icon-bookmark.svg" />
                                </a>
                            </li>
                            <span id="MyWish" style="font-size:20px;margin-top:15px">(@Session["Count"].ToString())</span>
                            <li class="cart nav-item">
                                <a href="@Url.Action("CartView", "Cart")" class="nav-link"><img src="~/Assets/images/Icons/Cart_Mark.png" /></a>
                            </li>
                            <span id="MyCart" style="font-size:20px;margin-top:15px">(@Session["CartItemCount"].ToString())</span>

                        </ul>

                    }
                </div>
            </div>
            <br />
        </div>
        <div class="PaddingTopCSS">

        </div>
        @Html.Partial("_Social_Icons")
        @RenderBody()
        <div class="container instagram-column ">
            <section class="home-section-by-instagram">
                <header class="section-header">
                    <h1 class="section-title"><a href="https://www.instagram.com/daniella_and_gemma/">INSTAGRAM</a></h1>
                    <p class="section-more"><a href="https://www.instagram.com/daniella_and_gemma/">all instagram</a></p>
                </header>
                <br />
                <br />
                <div class="instagram-body">
                    <div class="instagram-list">
                        <ul>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg01.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg02.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg03.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg04.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg05.jpg" /></a>
                            </li>
                            <li>
                                <a href="#"><img src="~/Assets/images/HomePage/IGImg06.jpg" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

        </div>


        <form action="https://danigemma.com/" method="post" name="subscribe_form" class="cm-processing-personal-data">
            <input type="hidden" name="redirect_url" value="index.php?dispatch=journal.archive" />
            <input type="hidden" name="newsletter_format" value="2" />

            <h3 class="footer-form__title">NEWS    LETTER</h3>



            <div class="footer-form-email">

                <label class="cm-required cm-email" for="subscr_email46" style="display:none;">Eメール</label>
                <input type="text" name="subscribe_email" placeholder="EMAIL" class="form-input-text" style="color:black" />
                <button title="Go" class="form-btn-go" type="submit">ENTER</button>
            </div>
        </form>

        <div class="container">
            <div class="footer-support row">
                <hr />
                <hr />
                <hr />
                <ul class="row">
                    <li class="shipping col-md-3">
                        <div class="title">
                            <img src="~/Assets/images/Icons/footer-icon-shipping.png" />
                            <h3>SHIPPING</h3>
                        </div>

                        <p class="description">
                            佐川急便にて全国一律送料400円でお届けします（一部地域・離島を除く）
                        </p>
                    </li>
                    <li class="return col-md-3">
                        <div class="title">
                            <img src="~/Assets/images/Icons/footer-icon-return.png" />
                            <h3 class="title">RETURN</h3>
                        </div>


                        <p class="description">
                            商品到着から7日以内のご購入の商品につきましては返品・交換をお受けしております
                        </p>
                    </li>
                    <li class="maintenance col-md-3">
                        <div class="title">
                            <img src="~/Assets/images/Icons/footer-icon-maintenance.png" />
                            <h3>MAINTENANCE</h3>
                        </div>

                        <p class="description">
                            お買い上げいただいた商品を長くご使用いただけるよう修理（有償）を承っております
                        </p>
                    </li>
                    <li class="point col-md-3">
                        <div class="title">
                            <img src="~/Assets/images/Icons/footer-icon-point.png" />
                            <h3>POINT</h3>
                        </div>

                        <p class="description">
                            ご購入金額の1％（1ポイント1円としてご利用可）をポイントとして還元しております
                        </p>
                    </li>
                </ul>
            </div>
        </div>


        <div class="footer-nav">
            <ul class="row">
                <li>
                    <a href="#">SHOPPING GUIDE</a>
                </li>
                <li>
                    <a href="#">TERM & CONDITIONS</a>
                </li>
                <li>
                    <a href="#">PRIVACY POLICY</a>
                </li>
                <li>
                    <a href="#">CONTACT</a>
                </li>
            </ul>

            <div class="footer-bottom">
                <p>
                    <small style="color:white;">© Daniella & GEMMA</small>
                </p>
            </div>
            <br />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>    @Scripts.Render("~/bundles/chartjs")
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Assets/js/FixedMenuForIG.js"></script>
    <script src="~/Assets/js/navbaranimation.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("endCSS", required: false)
    @RenderSection("endJS", required: false)
</body>
</html>
