@model Gemma.ViewModel.StockViewModel

@{
    ViewBag.Title = "Details";
}

<h4>StockViewModel</h4>
<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.ProductName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ProductName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.ColorName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.ColorName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SizeID)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SizeID)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Quantity)
    </dd>

</dl>
<p>
    @Html.ActionLink("Edit", "Edit", new RouteValueDictionary { { "productID", Model.ProductID }, { "colorID", Model.ColorID }, { "sizeID", Model.SizeID } }) |
    @Html.ActionLink("Back to List", "Index")
</p>
