@model  IEnumerable<Gemma.ViewModel.CartViewModel>
@{
    ViewBag.Title = "GetCart";
}

<table class="cart-with-title" style="width:100%;">
    <thead style="border-bottom:3px;border-bottom-color:black;">
        <tr>
            <th>商品</th>
            <th></th>
            <th>金額</th>
            <th>數量</th>
            <th>合計金額</th>
        </tr>

    </thead>

    <tbody class="cart-with-items">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Assets/images/Product/@item.CategoryName/@item.ProductName/@item.ColorImg/1.jpg">
                </td>
                <td class="cook">
                    <span id="productID" title="@item.ProductID">@item.ProductName</span>
                    <br />
                    <span> @item.CartID</span>
                    <br />
                    <span id="colorID" title="@item.ColorID">@item.ColorName</span>
                    <br />
                    <span id="sizeID" title="@item.SizeID">@item.Size</span>
                    <br />
                </td>
                <td v-model="price" id="priceForCart">@item.Price</td>
                <td id="QuantityCart">@*<input v-model="count" value="@item.Quantity">*@@item.Quantity</td>
                <td>@item.Amount</td>
            </tr>
        }

    </tbody>
</table>
<a href="#" id="checkCart">注文手続きへ</a>

@section endJS{
    @*<script>
    $(document).ready(function () {
            $('#checkCart').click(function () {
                var ProductID = $('#productID').attr('title');
                var SizeID = $("#sizeID").attr('title')

                var ColorID = $('#colorID').attr('title');
                var Quantity = $("#QuantityCart").html();
                var Price = $("#priceForCart").html();


                $.ajax({
                    type: "POST",
                    url: "/YourController/YourAction",
                    data: { ProductID: ProductID, ColorID: ColorID, SizeID: SizeID, Quantity: Quantity, Price: Price },
                    dataType: "text",
                    success: function (response) {
                        alert("ok")
                    }
                });


    </script>*@


}