@model  IEnumerable<Gemma.ViewModel.CartViewModel>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "GetCart";
}

<table class="cart-with-title" style="width:100%;">
    <thead style="border-bottom:3px;border-bottom-color:black;">
        <tr>
            <th>商品</th>
            <th></th>
            <th>金額</th>
            <th>數量</th>
            <th>合計金額</th>
        </tr>

    </thead>

    <tbody class="cart-with-items">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/Assets/images/Product/@item.CategoryName/@item.ProductName/@item.ColorImg/1.jpg">
                </td>
                <td class="cook">
                    <span class="productID" title="@item.ProductID">@item.ProductName</span>
                    <br />
                    <span> @item.CartID</span>
                    <br />
                    <span class="colorID" title="@item.ColorID">@item.ColorName</span>
                    <br />
                    <span class="sizeID" title="@item.SizeID">@item.Size</span>
                    <br />
                </td>
                <td v-model="price" class="priceForCart">@item.Price</td>
                <td class="QuantityCart">@*<input v-model="count" value="@item.Quantity">*@@item.Quantity</td>
                <td>@item.Amount</td>
            </tr>
        }

    </tbody>
</table>
@*<a href="#" id="checkCart">注文手続きへ</a>*@
@Html.ActionLink("注文手続きへ", "CheckInfo", "Checkout", new { id = User.Identity.GetUserId() }, new { id = "checkCart" })

