@model IEnumerable<OnlineStoreProductVM>

@{
    ViewBag.Title = "OnlineStorePage";

    // 選到的名稱 id
    if (Session["CategoryName"] == null && Session["ColorName"] == null)
    {
        Session["CategoryName"] = "ALL";
        Session["ColorName"] = "ALL";
    }

    string None = Url.Action("OnlineStorePage", "OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName = Session["ColorName"].ToString(), OrderBy = "None" });
    string LowToHigh = Url.Action("OnlineStorePage", "OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName = Session["ColorName"].ToString(), OrderBy = "LowToHigh"});
    string HighToLow = Url.Action("OnlineStorePage", "OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName = Session["ColorName"].ToString(), OrderBy = "HighToLow" });

    if(Session["PriceOrderBy"] == null)
    {
        Session["PriceOrderBy"] = "None";
    }

}

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-md-2 sidebar">

            @* 1. fa fa-plus   (icon: +) 2. fa fa-minus  (icon: -) *@

            <button class="w3-button w3-block w3-left-align Btn-left-list" id="CategoryBtn">
                CATEGORY <i class="fa fa-minus" id="IconCategory"></i>
            </button>
            <div id="Category" class="w3-hide ml-4 w3-show left-list-item">
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "ALL", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-ALL">ALL</a>              <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "PUMPS", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-PUMPS">PUMPS</a>          <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "FLATSHOES", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-FLATSHOES">FLAT SHOES</a> <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "MANNISH", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-MANNISH">MANNISH</a>      <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "SNEAKER", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-SNEAKER">SNEAKER</a>      <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "SANDAL", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-SANDAL">SANDAL</a>        <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = "BOOTS", ColorName = Session["ColorName"].ToString() })" class="w3-bar-item w3-button" id="category-BOOTS">BOOTS</a>          <br />
            </div>


            <button class="w3-button w3-block w3-left-align Btn-left-list" id="ColorBtn">
                COLOR <i class="fa fa-minus" id="IconColor"></i>
            </button>
            <div id="Color" class="w3-hide ml-4 w3-show left-list-item">
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="ALL" })" class="w3-bar-item w3-button" id="color-ALL">ALL</a>         <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="BLACK" })" class="w3-bar-item w3-button" id="color-BLACK">BLACK</a>     <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="GRAY" })" class="w3-bar-item w3-button" id="color-GARY">GRAY</a>       <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="WHITE" })" class="w3-bar-item w3-button" id="color-WHITE">WHITE</a>     <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="BROWN" })" class="w3-bar-item w3-button" id="color-BROWN">BROWN</a>     <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="RED" })" class="w3-bar-item w3-button" id="color-RED">RED</a>         <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="BLUE" })" class="w3-bar-item w3-button" id="color-BLUE">BLUE</a>       <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="SNAKE" })" class="w3-bar-item w3-button" id="color-SNAKE">SNAKE</a>     <br />
                <a href="@Url.Action("OnlineStorePage","OnlineStore", new { CategoryName = Session["CategoryName"].ToString(), ColorName ="LEOPARD" })" class="w3-bar-item w3-button" id="color-LEOPARD">LEOPARD</a> <br />
            </div>

        </div>




        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    <img src="~/Assets/images/Product/OnlineStore.jpg" class="bigphoto" />

                    <div class="bigphotoUnderText">
                        <p>
                            エレガントなデザインとインポートのようなフォルムが魅力のDaniella Tam
                            （ダニエラ タム）、程よく辛口でトレンド感のあるカジュアルシューズGEMMA LINN
                            （ジェマ リン）。異なる２人のシューズクローゼットをイメージし、ベーシックから
                            遊び心あふれるデザインまでデイリーに履けるモードなシューズコレクション。
                        </p>
                    </div>

                    <!--右邊下拉式選單-->
                    <div class="select-div">
                        <form>
                            SORT :
                            <select name="sort" class="select" id="orderby" onchange="location.href=this.options[this.selectedIndex].value">
                                <option value="@None" id="None">None</option>
                                <option value="@LowToHigh" id="LowToHigh">価格の低い順</option>
                                <option value="@HighToLow" id="HighToLow">価格の高い順</option>
                            </select>
                        </form>
                        
                    </div>

                </div>


                <div class="row" id="ChangeProduct">
                    @foreach (var item in Model)
                        {
                            <div class="col-md-4">
                                @Html.Partial("_OnlineStoreTestPartial", item)
                            </div>
                        }
                </div>
            </div>
        </div>

    </div>
</div>



@section topCSS{

    <link href="~/Assets/css/ForOnlineStoreCdnW3.css" rel="stylesheet" />
    <link href="~/Assets/css/ForOnlineStoreCdnFontAwesome.min.css" rel="stylesheet" />


    <style>
        body, div {
            font-family: "Noto Sans JP", sans-serif;
        }


        /* 改寫 .w3-button:hover 的屬性*/
        .w3-button:hover {
            color: #52514f !important;
            background-color: #F5F5F5 !important;
        }

        /* (左側欄) 設定有關字體 */
        .Btn-left-list {
            font-size: 18px;
            font-weight: 600;
            letter-spacing: 3px;
            line-height: 2.5em;
            color: #52514f;
            /*cursor: pointer;*/
        }

        .left-list-item > a {
            color: #52514f;
            list-style: none;
            font-size: 17px;
            /*cursor: pointer;*/
        }

        .left-list-item > a {
            text-decoration: none;
        }

        #category-@Session["CategoryName"].ToString() {
            text-decoration: underline;
        }
        #color-@Session["ColorName"].ToString() {
            text-decoration: underline;
        }


        /*右上角照片*/
        .bigphoto {
            width: 800px;
            height: 250px;
            margin-left: 100px;
            margin-bottom: 50px;
        }
        /*圖片下方文字*/
        .bigphotoUnderText {
            font-family: "Noto Sans JP" !important;
            max-width: 85%;
            margin-left: 120px;
            font-weight:600;
            line-height: 35px;
            /*margin: 0 auto;*/
        }

        /*右邊下拉式選單*/
        .select-div {
            position:absolute;
            right: 0px;
            top: 450px;
            /*float:right;*/
            /*text-align: right;*/
        }

        .select {
            color: #6b7986;
            background-color: #F5F5F5;
            border-top: 0 #f4f0e7 solid;
            border-left: 0 #f4f0e7 solid;
            border-right: 0 #f4f0e7 solid;
            border-bottom: 1px #191919 solid;
            outline: none;
            width: 250px;
        }

        /*商品卡*/
        #ChangeProduct{
            margin-top: 100px;
            margin-left: 70px;
        }

    </style>

}


@section endJS{

    <script>
        $(document).ready(function () {
            $("#CategoryBtn").click(CategoryBtn);
            $("#ColorBtn").click(ColorBtn);

            $('#orderby #@Session["PriceOrderBy"].ToString()').attr('selected', 'selected');
        });


        function CategoryBtn() {
            var categoryId = document.getElementById("Category");
            var icon = document.getElementById("IconCategory");

            BtnSidebar(categoryId, icon);
        }

        function ColorBtn() {
            var colorId = document.getElementById("Color");
            var icon = document.getElementById("IconColor");

            BtnSidebar(colorId, icon);
        }

        function BtnSidebar(Id, icon) {
            if (Id.className.indexOf("w3-show") == -1) {
                Id.className += " w3-show";

                // 換 icon(+ -> -)
                icon.className = icon.className.replace("fa fa-plus");
                icon.className = " fa fa-minus";
            } else {
                Id.className = Id.className.replace(" w3-show", "");

                // 換 icon(- -> +)
                icon.className = icon.className.replace("fa fa-minus");
                icon.className = " fa fa-plus";
            }
        }


    </script>
}


