
@{
    ViewBag.Title = "OnlineStore_Category_FLATSHOES";
}

@model IEnumerable<Gemma.ViewModel.OnlineStore>

@section topCSS{
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="~/Assets/css/FixedMenu.css" rel="stylesheet" />
    <link href="~/Assets/css/OnlineStore.css" rel="stylesheet" />
}



@Html.Partial("IndexPartial")

<div class="container">

    <div class="row">

        @Html.Partial("_Left_CategoryPartial")
        <div class="col">

            @Html.Partial("_BigPicture_and_SelectFormPartiel")

            <div class="row">
                <!--鞋子圖片-->
                @foreach (var photo in Model)
                {
                    @Html.Partial("_OnlineStorePicturePartial", photo);

                }

                <br />
                <br />
            </div>

        </div>
    </div>

</div>

@Html.Partial("_Footer")

@section endJS{


}
