@model Gemma.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Delete";
}

    <div class="main-card mb-3 card">
        <div class="card-body">
            <h3 class="card-title ml-3">刪除產品資料</h3>
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-7 mt-3">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.ProductName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ProductName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UnitPrice)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UnitPrice)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Discount)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Discount)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CategoryName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Explain)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Explain)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-5  text-center mt-3">
                        <dl>
                            @*<dt>
                                @Html.DisplayNameFor(model => model.PictureUrl)
                            </dt>*@

                            <dd>
                                <img src="~/Assets/images/Product/@Model.PictureUrl" style="width:300px;height:300px;border-radius:150px" />
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="row ml-3">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="刪除" class="btn btn-danger" />
                        @Html.ActionLink("返回產品管理頁面", "Index", null, new { @class = "btn btn-link" })
                    </div>
                }
            </div>
        </div>
    </div>

                        