@model Gemma.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>產品明細</h2>
<hr>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explain)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-info" })
    @Html.ActionLink("返回產品管理頁面", "Index", null, new { @class = "btn btn-success" })
</p>
