@model Gemma.ViewModel.ProductViewModel

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    <div class="main-card mb-3 card">
        <div class="card-body">


            @Html.AntiForgeryToken()
            <h3 class="card-title ml-3">修改產品資料</h3>
            <hr />
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ProductID)

                <div class="container">
                    <div class="row">
                        <div class="col-7 mt-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Discount, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Discount, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Discount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.CategoryID, (SelectList)ViewBag.CategoryID, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Explain, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @*@Html.EditorFor(model => model.Explain, new { htmlAttributes = new { @class = "form-control" } })*@

                                    @Html.TextAreaFor(model => model.Explain, new { rows = 5, columns = 12, @class = "form-control" })<br />
                                    @Html.ValidationMessageFor(model => model.Explain, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-5 text-center mt-3 ">
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.PictureUrl, htmlAttributes: new { @class = "control-label col-md-2" })*@

                                <img style="width:300px;height:300px;border-radius:150px" src="~/Assets/images/Product/@Model.PictureUrl" />

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="儲存" class="btn btn-primary" />
                    </div>
                </div>
            </div>
            <div>
                @Html.ActionLink("返回會員管理頁面", "Index", null, new { @class = "mb-2 mr-2 btn btn-link" })
            </div>
        </div>
    </div>
}
